{% extends "layout.html" %} {% block title %}Products{% endblock %} {% block
head %} {{ super() }}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/products.css') }}"
/>
{% endblock %} {% block content %}

<div id="container">
  {% for product in products %}
  <div class="product">
    <a href="/item/{{ loop.index - 1 }}"
      ><img src="{{ url_for('static',filename=product['ProductPicUrl']) }}"
    /></a>
    <p>{{ product['ProductId'] }} (${{ product['Price'] }})</p>
    <p>{{ product['Description'] }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
